body{
    height: 100vh;
    background-color: var(--body-color);
    transition: 0.2s;
}

body.dark{
    --primary-color: #3a3b3c;
    --text-color: #ccc;
    --white-color: #242526;
    --light-bg: #3a3b3c;
    --body-color:#18191A;
}

/* css for title page */
.title__page{
    /* height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--light-bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    z-index: 12; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    -ms-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    border: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 12;
    padding: 0 20px;
    height: 80px;
    width: 100%; 
    background-color: var(--light-bg);
    transition: 0.4s;
}

.title__page-text h2{
    color: var(--text-color);
    font-weight: 500;
}

.title__page-info{
    display: flex;
    align-items: center;

}

.title__page-info .avatar{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.title__page-info .avatar img{
    width: 100%;
    border-radius: 50%;
}

.title__page-info .name{
    color: var(--text-color);
    font-size: 1rem;
    font-weight: 500;
}

.wraper .section{
    flex: 1;
    transition: 0.3s;
    position: absolute;
    height: 100vh;
    width: calc(100% - 265px);
    right: 0;
    top: 90px;
}

/* css for sidebar */
.sidebar{
    position: fixed;
    top: 80px;
    left: 0;
    height: calc(100vh - 80px);
    width: 250px;
    padding: 10px 14px;
    border-radius: 0 6px 6px 0;
    background-color: var(--white-color);
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    /* overflow: hidden; */
    -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 11 !important;
}

.sidebar .text{
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-color);
    transition: 0.3s;
    opacity: 1;
}

.sidebar.close{
    width: 88px;
    opacity: 1;
}

.sidebar.close:hover{
    opacity: 1;
}

.sidebar.close .text{
    opacity: 0;
    display: none;
    transition: 0.3s;
    user-select: none;
}

.sidebar header {
    position: relative;
}

.sidebar .image{
    min-width: 60px;
    display: flex;
    align-items: center;
}

.sidebar .image__text img{
    width: 40px;
    border-radius: 6px;
}

.sidebar header .image__text{
    display: flex;
    align-items: center;
}

.sidebar header .image__text .header__text .name{
    font-weight: 700;
    letter-spacing: 3px;
    font-size: 1.5rem;
}

.sidebar.close header .toggle{
    right: -41%;
    transform: translateY(-50%);
}

.sidebar header .toggle{
    position: absolute;
    top: 50%;
    right: -12%;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--text-color);
    font-size: 1rem;
    cursor: pointer;
    transition: 0.4s;
}

body.dark .sidebar header .toggle{
    color: var(--text-color);
}

.sidebar li{
    height: 50px;
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.sidebar li .icon{
    font-size: 20px;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar li a{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 6px;
    transition: 0.2s;
    color: var(--text-color);
}

.sidebar li a:hover{
    background-color: var(--primary-color);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color: var(--text-color);
}

.sidebar .menu-bar{
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-bar .mode{
    position: relative;
    background-color: var(--body-color);
    border-radius: 6px;
}

.menu-bar .mode .moon-sun{
    height: 50px;
    width: 60px;
    display: flex;
    align-items: center;
}

.menu-bar .mode i{
    position: absolute;
}

.menu-bar .mode i.sun{
    opacity: 0;
    color: var(--text-color);
}

body.dark .menu-bar .mode i.sun{
    opacity: 1;
}

body.dark .menu-bar .mode i.moon{
    opacity: 0;
}

.menu-bar .mode .toggle-switch{
    position: absolute;
    display: flex;
    height: 100%;
    right: 0;
    min-width: 60px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.toggle-switch .switch{
    position: relative;
    height: 22px;
    width: 44px;
    background-color: var(--text-color);
    border-radius: 25px;
}

.switch::before{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    background-color: var(--white-color);
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    border-radius: 50%;
    transition: all 0.3s;
}

body.dark .switch::before{
    left: 24px;
}


/* css for box */

.box{
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 6px;
    height: 80px;
    width: 100%;
    overflow: hidden;
    background-color: var(--white-color);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
    -ms-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
    transition: 0.4s;
}

.box::before,
.box::after{
    content: '';
    position: absolute;
    background-color: var(--light-bg);
    width: 0;
    height: 0;
    border-radius: 50%;
    opacity: 0.8;
    transition: 0.4s;
}

.box::before{
    top: 15px;
    left: -26px;
}

.box::after{
    top: -35px;
    right: -26px;
}

.box:hover::before,
.box:hover::after{
    width: 100px;
    height: 100px;
}

.box__icon{
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: 700;
    color: var(--text-color);
}

.box__detail{
    flex: 1;
    color: var(--text-color);
}

.box__detail-text{
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
}

.box__detail-number{
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
}

/* css for chart */
#roundChart, 
#myChart{
    background-color: var(--white-color);
    border-radius: 6px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
    padding: 10px;
}

/* css for card */
.card{
    padding: 30px;
    background-color: var(--white-color);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
    transition: 0.4s;
}

.card__header {
    color: var(--text-color);
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.btn-add{
    padding: 10px 20px;
    color: var(--text-color);
    border: 1px solid var(--text-color);
    border-radius: 6px;
}

.btn-add .fas.fa-plus{
    margin-right: 5px;
}

.btn-add:hover{
    color: var(--primary-color);
    /* opacity: 0.8; */
    border: 1px solid var(--primary-color);
}

.btn-addnv:focus{
    outline: none;
}

.card__body .table tr,
.card__body .table td{
    color: var(--text-color);
}

/* css for block */
.block{
    width: 100%;
    background-color: var(--white-color);
    border-radius: 6px;
    padding: 20px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
    -ms-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
    transition: 0.4s;
}

.block__header{
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--text-color);
    text-align: center;
    margin-bottom: 20px;
}

.form-group h3{
    font-size: 1rem;
    color: var(--text-color);
    text-transform: uppercase;
    font-weight: 500;
}

.form-input{
    position: relative;
    width: 100%;
    height: 50px;
    outline: none;
    border: none;
    font-size: 1rem;
    background-color: transparent;
    color: var(--text-color);
    border-bottom: 1px solid var(--text-color);
}

.form-input:focus{
    border-bottom: 1px solid var(--light-bg);
}

.form-group img{
    width: 250px;
    border: 1px solid black;
    margin-right: 30px;
}

.form-group .form-input-select{
    height: 50px;
    width: 100%;
    border: 1px solid var(--text-color);
    color: var(--text-color);
    background-color: transparent;
}

.block__btn{
    padding: 10px 20px;
    min-width: 200px;
    font-size: 1rem;
    font-weight: 500;
    outline: none;
    border: 1px solid transparent;
    border-radius: 6px;
    margin: 30px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--white-color);
    text-transform: uppercase;
    transition: 0.4s;
}

.block__btn:hover{
    border: 1px solid var(--primary-color);
    background-color: var(--white-color);
    color: var(--primary-color);
}

body.dark .block__btn{
    color: var(--text-color);
}

body.dark .block__btn:hover{
    border: 1px solid var(--text-color);
    background-color: var(--white-color);
    color: var(--text-color);
}

.block__btn:focus{
    outline: none;
    border: none;
}
